header .mdl-layout-title {
  display: none;
}

header.mdl-layout__header {
  background-color: #252525;
}

.mdl-navigation__link {
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  font-weight: 700;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #424242;
}