.Banner {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 30rem;
  min-height: calc(100vh - 50px);
}

/* all banner sections */

.Banner > div {
  flex: 1;
  z-index: 999;
  padding: 0;
  width: 100%;
  max-width: 80rem;
}

/* Banner Hero */

.Banner__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  align-items: center;
}

.Banner__hero > div {
  text-align: center;
}

.Banner__title {
  margin-bottom: 0;
  font-size: 2.6rem;
  font-weight: 500;
}

.Banner__subtitle {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

.Banner__hero > .social-media .Icon {
  margin: 0 1rem;
}

/* overlays */

.Banner > .color__overlay {
  position: absolute;
  background: #efefef73;
  width: 100%;
  z-index: 0;
  height: 100%;
}

.Banner > .image__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Banner > .image__overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

